@import "../utils/index.css";
@import "../components/status-bar.css";
@import "../components/call-person.css";
@import "../components/bottom-bar.css";

body {
  position: relative;
}

.wallpaper {
  width: 100%;

  position: absolute;
  top: 0;
  z-index: -1;
}

.chat__icon {
    margin-top: 9px;
    margin-left: 21px;
}

.line {
  width: 45%;
  margin: 0 auto;

  background-color: #fff;
  border-radius: 100px;
  height: 2px;
}