.call-person {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 94px;
}

.call-person--video {
    margin-top: 105px;
}

.call-person__img {
    width: 80px;
    height: 80px;
}

.call-person__name{
    font-size: 25px;
    font-weight: 600;
    color: #fff;

    margin-top: 13px;
}

.call-person__status {
    font-size: 17px;
    color:rgba(255, 255, 255, 0.6);
 
    margin-top: 5px;
}

