.send-message {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 90%;
  margin: 0 auto;
}

.send-message--rectangle {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 45px;
}

.send-message__input {
  display: flex;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 18px;

  height: 36px;
}

.send-message__input-area {
  width: 135px;

  border: none;
  background: none;
  outline: none;

  margin-left: 10px;

  font-size: 17px;
}

.send-message__input-area--collapse {
  width: 265px;
}

.send-message__icon {
  margin-right: 6px;
}
